/* Link Styles */
.unslidelink,
.unslidelink--mediumGray,
.unslidelink--purple,
.unslidelink--text,
.unslidelink--white,
.user-content a:not(.button):not(.notusercontentlink) {
    background-image: linear-gradient(0deg, currentColor, currentColor min(2px, .1em), transparent min(2px, .1em), transparent);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    text-decoration: none;
    transition: background-size .2s, color .2s;
}

.unslidelink--mediumGray.focus-visible,
.unslidelink--mediumGray:hover,
.unslidelink--purple.focus-visible,
.unslidelink--purple:hover,
.unslidelink--text.focus-visible,
.unslidelink--text:hover,
.unslidelink--white.focus-visible,
.unslidelink--white:hover,
.unslidelink.focus-visible,
.unslidelink:hover,
.user-content a.focus-visible:not(.button):not(.notusercontentlink),
.user-content a:hover:not(.button):not(.notusercontentlink) {
    background-size: 0 100%;
}

/* Color Styles */
.slidelink--mediumGray,
.unslidelink--mediumGray {
    color: #999;
}

.slidelink--text {
    color: #44414e;
}

.unslidelink--text {
    color: #6e7076;
}

.slidelink--purple,
.unslidelink--purple,
.user-content a:not(.button):not(.notusercontentlink) {
    color: #5333ed;
}

.slidelink--white,
.unslidelink--white {
    color: #fff;
}

/* Underline Styles */
.underline--dashed,
.user-content abbr {
    border-bottom: 1px dashed rgba(0, 0, 0, .2);
}

.underline--dashed:hover,
.user-content abbr:hover {
    border-bottom: 1px dashed #5333ed;
    cursor: pointer;
}

/* Background Color */
.has-purple-background-color {
    background-color: #5333ed;
    color: #d8d8d8;
}

/* Related Posts Container */
.container.related-posts__inner {
    max-width: 43rem;
}

@media (min-width: 48em) {
    .container.related-posts__inner {
        max-width: 45rem;
    }
}

/* Related Posts Title */
.related-posts__title {
    color: #999;
    font-size: .875rem;
    font-weight: 600;
    margin: 0 0 2rem;
}

@media (min-width: 64em) {
    .related-posts__title {
        font-size: 1rem;
    }
}

/* Related Posts List */
.related-posts:not(.related-posts--grid) .related-posts__list {
    grid-template-columns: 1fr !important;
}

@media (min-width: 22em) {
    .related-posts:not(.related-posts--grid) .related-posts__list {
        grid-gap: 3rem;
        gap: 3rem;
    }
}

/* Post Preview Styles */
.post-preview {
    grid-gap: 1rem;
    align-items: flex-start;
    color: inherit;
    display: flex;
    flex-direction: column;
    font-size: .875rem;
    gap: 1rem;
    position: relative;
    text-decoration: none;
}

@media (min-width: 64em) {
    .post-preview {
        font-size: 1rem;
    }
}

/* Thumbnail Styles */
.post-preview__thumbnail {
    margin: 0;
    position: relative;
}

.post-preview__thumbnail,
.post-preview__thumbnail img {
    border-radius: .25rem;
    display: block;
    width: 100%;
}

/* Content Styles */
.post-preview__content {
    grid-gap: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    word-break: break-word;
}

@media (min-height: 40em) {
    .post-preview__content {
        grid-gap: 1rem;
        gap: 1rem;
    }
}

/* Labels and Meta */
.post-preview__labels,
.post-preview__meta {
    grid-gap: .5em;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: Brandon Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
    font-size: .625rem;
    font-weight: 600;
    gap: .5em;
    letter-spacing: .1em;
    line-height: 1.2;
    text-transform: uppercase;
}

@media (min-width: 64em) {
    .post-preview__labels,
    .post-preview__meta {
        font-size: .75rem;
    }
}

/* Title and Excerpt Styles */
.post-preview__title {
    color: #0e0a1b;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.4;
    margin: 0;
    transition: color .2s;
}

@media (min-width: 64em) {
    .post-preview__title {
        font-size: 1.125rem;
    }
}

/* Additional Styles */
.input-with-button {
    align-items: stretch;
    background-color: #fff;
    border-radius: 2em;
    display: flex;
    flex-direction: row;
    font-size: .875rem;
    justify-content: space-between;
    overflow: hidden;
    padding: .2em;
}

@media (min-width: 64em) {
    .input-with-button {
        font-size: 1rem;
    }
}

.input-with-button .input,
.input-with-button input {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 1em;
    margin: 0;
    outline: none;
    padding: .5em 1.5em;
    width: 100%;
}

.copy-to-clipboard {
    cursor: pointer;
    opacity: .7;
    transition: .2s;
}

.copy-to-clipboard:focus,
.copy-to-clipboard:hover {
    opacity: 1;
}

.copy-to-clipboard.icon--check {
    color: #30b00f;
}

.copy-to-clipboard.icon--cross {
    color: #ed1c24;
}
