body {
    font-family: "Times New Roman", Times, serif;
}

.tag {
    background-color: #5634f7;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    display: inline-block;
    margin-bottom: 10px;
}

.tag:hover{
    transform: translateY(-5px);
}

.nav-link:hover{
    transform: translateY(-5px);
}

/* certifications cards */
.cert-card {
    display: flex;
    align-items: center;
    padding: 15px;
    /* border-bottom: 1px solid #ddd; */
    height: 20px;
}

.cert-card img {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}

.cert-info h6 {
    margin: 0;
    font-weight: 1;
}

.cert-info p {
    margin: 0;
    font-size: 10px;
    color: #555;
}
/* END OF certifications cards */



/*card's styles*/
/* أزرار الفلترة */
.filter-btn {
    /* font-family: 'Press Start 2P', cursive; */
    background: #ffffff;
    color: rgb(0, 0, 0);
    border: 4px solid #70646a;
    padding: 8px 16px;
    box-shadow: 4px 4px 0 #000000, inset -2px -2px 0;
    font-size: 10px;
    cursor: pointer;
}

.filter-btn:hover {
    transform: translateY(-5px);
}


/* Container للكاردز */
.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px 10px;
}

/* الكارد نفسه */
.project-card {
    background: #ffffff;
    border: 4px solid #000000;
    box-shadow: 6px 6px 0 #a79ca2;
    box-sizing: border-box;
    width: calc(25% - 20px);
    /* 4 cards per row */
    min-width: 220px;
    display: flex;
    flex-direction: column;
    transition: transform 0.2s;
}

.project-card:hover {
    transform: translateY(-5px);
}

.project-card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.project-card h4 {
    text-align: center;
    font-size: 12px;
    margin: 5px 0;
}

.project-card p {
    /*font-family: 'Cairo', Calibri, sans-serif;*/
    font-size: 11px;
    padding: 0 5px 10px 5px;
    text-align: justify;
}

.project-card .date {
    font-size: 8px;
    color: rgb(144, 137, 137);
    text-align: center;
    margin-bottom: 5px;
}

/* Responsive */
@media (max-width: 1200px) {
    .project-card {
        width: calc(33.33% - 20px);
    }
}

@media (max-width: 900px) {
    .project-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .project-card {
        width: 100%;
    }
}

/*end of card's styles*/
